body {background-color: rgb(180, 99, 255);}
    p {color: rgb(255, 255, 255);}
    h1{color: rgb(0, 65, 230);}
    h2{color: rgb(0, 65, 230);}
    h3{color: rgb(0, 65, 230);}
    
    
* {
	box-sizing: border-box;}
        	
.row {
	content: "";
	display: table;
	clear: both;}
    		
.columnLeft{
	float: left;
	width: 50%;
	padding: 20px;}
    		
.columnRight{
	float: right;
	width: 50%;
	padding: 20px;}
	
	
ul.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: blue;
	position: relative;
	overflow: hidden;
	top: 0;
	left:0;}

ul.nav li a {
	float: left;
	display: block;
	color: pink;
	padding: 8px 16px;
	text-decoration: none; }

ul.nav li a.active {
	background-color: green;
	color: white; }

ul.nav li a:hover {
	background-color: pink;
	color: white; }